/*Selector  */

#contenedor{

    width: 1200px;
    height: 1000px;
    background-color: beige;
    max-width:  0 auto;

    
}

#encabezado{

    height: 15%;
    background-color: beige;
    margin: 1em auto;
    margin-top: 50px;
}

#menu{

    height: 5%;
    background-color: rgba(230, 233, 233, 0.712);
    margin: 1em auto;

}

/*Selector Universal*/
*{
    padding: 0 auto;
    margin: 0 auto;
}
#seccion{

    height: 70%;
    width: 61%;
    background-color: rgb(51, 187, 187);
    margin: 0.5em;
    float: left;

}

#fueraSeccion{

    height: 70%;
    width: 36%;
    background-color: rgb(46, 46, 126);
    margin: 0.5em;
    float: right;
}

#pie{

    height: 5%;
    background-color: rgb(11, 90, 30);
    border-radius: 1em;
    margin: 1.5em;
}

/*Selecotr de class */
.texto{
    text-align: justify;
    font-family: tahoma ;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;

}

.encabezado_articulo{

    text-align: center;
    margin-top: 30px;
    background: #333;
    color: white;
    margin: auto 2em;
}

.imagenes{

    display: block;
    border: 1px solid #654;
    margin-left: 4%;
    width: 150px;
    margin-top: 30px;
    
}

/*Selector tipo etiqueta*/

ul{

    text-align: center;

}
li{

    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}

